.box{
    height: 200px;
    width: 500px;
    background-color: aqua;
    border-width: 5px;
    border-color: blueviolet;
    border-style: double;
    border-top-right-radius: 20%;
    padding-top: 3%;
}


button{
    border: 2px dotted purple;
    border-radius: 50%;
    padding: 10px;
    background-color: thistle;
    
}
button:hover{
    background-color: blueviolet;
}
button:active{
    background-color: rgb(253, 253, 253);
}

/* try mdn border radius design from web*/