body {
    background-color: rgb(40, 18, 61);
    transition: all ease-in-out 2s;
}

@media (min-width: 800px) {
    body {
        background-color: blueviolet;
    }
    h1 {
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }
}
@media (max-width: 800px) and (min-width: 400px) {
    body {
        background-color: rgb(22, 21, 27);
    }
    h1 {
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    body {
        background-color: rgb(157, 32, 136);
    }
    h1 {
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }
}
@media (orientation: landscape) {
    body {
        background-color: rgb(16, 136, 60);
    }
    h1 {
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }
}